<a href="https://colab.research.google.com/github/KadenAnderson/IST210/blob/master/Car_Painting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![car paitning ER](https://raw.githubusercontent.com/KadenAnderson/IST210/master/Group%20Assignment%202.png)

In [357]:
%load_ext sql
%sql sqlite:///carPaintDatabase.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @carPaintDatabase.db'

In [358]:
%%sql  
DROP TABLE IF EXISTS Website;
create table Website (SessionID text PRIMARY KEY, CustomerID text, VIN_NUM text, Selected_Color text);

DROP table IF EXISTS Customer;
create table Customer (CustomerID text PRIMARY KEY, FirstName text, LastName text, Email text, PhoneNumber text);

DROP table IF EXISTS Job_Info;
create table Job_Info (JobID text PRIMARY KEY, Session ID text, Color text, EmployeeID text);

DROP table IF EXISTS Customer_Car;
create table Customer_Car (VIN_NUM PRIMARY KEY, CustomerID text, Make text, Model text, Year text, Current_Color text);

DROP table IF EXISTS Employee;
create table Employee (EmployeeID text PRIMARY KEY, Salary integer, FirstName text, LastName text);

 * sqlite:///carPaintDatabase.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

You need to know:


*   Insert

In [359]:
%%sql
insert into Website values ('43631', 'AASGH', 'JH4DA1745GS002661', 'Yellow');
insert into Website values ('34672', 'ASGWB', '5NPEC4ABXDH539433', 'Black');
insert into Website values ('21185', 'HDHRE', 'JT2BF22K6Y0283641', 'Bronze');
insert into Website values ('23758', 'HASFS', '1G1JC1444PZ215071', 'Blue');
insert into Website values ('99237', 'GJJSD', 'SAJGX2040XC042591', 'Silver');

insert into Customer values ('AASGH', 'Joe', 'Mont', 'JoeM@gmail.com', '920-254-3707');
insert into Customer values ('ASGWB', 'Bob', 'James', 'BobJ@gmail.com', '256-583-6609');
insert into Customer values ('HDHRE', 'Shirley', 'Fisher', 'ShirleyF@gmail.com', '602-864-4772');
insert into Customer values ('HASFS', 'Connie', 'Couple', 'ConnieC@gmail.com', '340-228-1001');
insert into Customer values ('GJJSD', 'Seth', 'Roe', 'SethR@gmail.com', '609-642-2013');

insert into Job_Info values ('FG150', '43631', 'Yellow', 'CelineRocha');
insert into Job_Info values ('AD201', '34672', 'Black', 'TeddieCarpenter');
insert into Job_Info values ('TQ631', '21185', 'Bronze', 'LucasMartin');
insert into Job_Info values ('IL456', '23758', 'Blue', 'JeffVinson');
insert into Job_Info values ('RE432', '99237', 'Silver', 'MarionBishop');

insert into Customer_Car values ('JH4DA1745GS002661', 'AASGH', 'Acura', 'Integra', '1986', 'White');
insert into Customer_Car values ('5NPEC4ABXDH539433', 'ASGWB', 'Hyundai', 'Sonata', '2013', 'Grey');
insert into Customer_Car values ('JT2BF22K6Y0283641', 'HDHRE', 'Toyota', 'Camry', '2000', 'Green');
insert into Customer_Car values ('1G1JC1444PZ215071', 'HASFS', 'Chevrolet', 'Corvair', '1993', 'Red');
insert into Customer_Car values ('SAJGX2040XC042591', 'GJJSD', 'Jaguar', 'XK8', '1999', 'Yellow');

insert into Employee values ('CelineRocha', '35000', 'Celine', 'Rocha');
insert into Employee values ('TeddieCarpenter', '33000', 'Teddie', 'Carpenter');
insert into Employee values ('LucasMartin', '37000', 'Lucas', 'Martin');
insert into Employee values ('JeffVinson', '32000', 'Jeff', 'Vinson');
insert into Employee values ('MarionBishop', '40000', 'Marion', 'Bishop');

 * sqlite:///carPaintDatabase.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

What are the top 3 salaries of employees?

In [360]:
%%sql
select EmployeeID, Salary from Employee ORDER BY Salary DESC limit 3;

 * sqlite:///carPaintDatabase.db
Done.

[('MarionBishop', 40000), ('LucasMartin', 37000), ('CelineRocha', 35000)]

This question is important to see the value of each employees time.  When assigning jobs you don't want to put a high paid employee on an easier job.  Likewise, you don't want to put a low paid employee on a harder job.  The results matched our expectations because the output was easy to understand and answered the question with only the top 3 paid employees rather than all 5 employees.

What are the customers choice of colors and their current colors?

In [361]:
%%sql
select Current_Color, Selected_Color from Customer_Car c, Website w WHERE c.VIN_NUM = w.VIN_NUM;

 * sqlite:///carPaintDatabase.db
Done.

[('White', 'Yellow'),
 ('Grey', 'Black'),
 ('Green', 'Bronze'),
 ('Red', 'Blue'),
 ('Yellow', 'Silver')]

This question is important to quickly reference the current color of every car in the shop and what color it is supposed to be painted.  Based on the VIN Number it pairs each current color with the selected color.  These results matched our expectations because not every color was listed only pairings based on the database were listed.



How many cars need to be painted?

In [362]:
%%sql
select Count(VIN_NUM) from Customer_Car;

 * sqlite:///carPaintDatabase.db
Done.

[(5,)]

This question is important because it helps the employees have an idea of how many cars they need to paint.  This gives the employees a good idea of how much work they have.  The results matched our expectations because a unique identifier for each car was used, totaling to five cars.